body{
margin:0;
padding:0;
}
h1{
background-color:blue;
color:white;
text-align:center;
}
div{
height:3cm;
width:3cm;
margin:10px;
border:1px solid grey;
text-align:center;
margin-left:50%;
border-radius:10px;
}
.a{
background-color:red;
}.b{
background-color:blue;
}.c{
background-color:yellow;
}.d{
background-color:green;
}





.a:hover{
transform:rotate(360deg);
transition:1s;
}
.b:hover{
transform:translate(2cm,3cm);
transition:1s;
}
.c:hover{
transform:scale(1,2);
transition:3s;
}
.d:hover{
height:2cm;
width:6cm;
transform:skew(40deg,10deg);
transition:2s;
}